@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
}
<div class="row justify-content-center">

    <div class="card-deck">
        @foreach (Product product in Model)
        {
            <div class="card m-4" style="min-width:18rem; max-width:32%">
                <div class="card-header text-center">
                    @product.Name
                </div>
                <img src="~/images/sofa.jpg" style="width:40px height:30px" />
                <div class="card-footer">
                    <a asp-controller="home" asp-action="details" asp-route-Id="@product.ProductId" class="btn btn-outline-primary"> View</a>
                    <a asp-controller="home" asp-action="edit" asp-route-Id="@product.ProductId" class="btn btn-outline-success"> Edit</a>
                    <a asp-controller="home" asp-action="delete" asp-route-Id="@product.ProductId" class="btn btn-outline-danger"> Delete</a>
                </div>
            </div>

        }
        <div style="position:fixed; right:25px; bottom:25px">
            <a asp-controller="home" asp-action="create" class="btn btn-success">Add Product</a>
        </div>

    </div>

</div>